*{margin:0;padding:0;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;font-family:"黑体"}
i{font-style:normal;}
li{list-style:none;}
#faceCanvas{cursor:pointer;}
#faceBoxs{
        width:100%;
        height:100%;
        display:block;
        overflow:hidden;
        position:relative;
}
#faceMedia{display:none;}

/*#faceCanvas{position:absolute;top:0;left:0;}*/

#print{color:orange;}

#controlBox{
	width:100%;
	height:40px;
	position:absolute;
	bottom:0px;
	background:rgba(10,10,10,0.5);
	display:none;
}

#controlBar{
        width:100%;
        height:40px;
        position:relative;
}

#progBtnBar{
	width:100%;
	height:3px;
	background:rgba(100,100,100,0.5);
	cursor:pointer;
}

#PreLoad{
	width:0;
	height:3px;
	background:#aaa;
	position:absolute;
	top:0;
	left:0;
}

#eJectBox{
        width:590px;
        height:320px;
        position:absolute;
        top:calc((100% - 350px) / 2);
        left:calc((100% - 590px) / 2);
        border-radius:10px;
        text-align:center;
        z-index:99;
        overflow:hidden;
        display:none;
}

.eJectCloseBox{
        height: 50px;
        line-height: 30px;
        text-align: center;
        width: 100%;
}

.eJectClose{
        background: rgba(10,10,10,0.5);
        border-radius: 30px;
        display: inline-block;
        height: 30px;
        width: 70px;
        color:#fff;
        cursor:pointer;
}

.eJectImg{
        float: left;
        height: 270px;
        width: 270px;
        border-radius:10px 0 0;
}

.eJectRight{
        background: rgba(44, 44, 44, 1) none repeat scroll 0 0;
        border-radius: 0 10px 0 0;
        float: right;
        height: 230px;
        padding: 20px;
        width: calc(100% - 310px);
}

.eJectTitle{
        color: #fff;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        height: 30px;
        width: 100%;
        text-align:left;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
}

.eJectContent{
        color: #fff;
        font-size: 12px;
        height: 150px;
        line-height: 23px;
        margin-bottom: 10px;
        margin-top: 5px;
        overflow: hidden;
        padding-right: 10px;
        position: relative;
        text-align: left;
        width: calc(100% - 10px);
}

.eJectJump{
        background: #5088ff none repeat scroll 0 0;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
        width: 100%;
        outline:none;
}

#pregTimeBar{
	width:0;
	height:3px;
	background:#39AEFF;
	position:absolute;
	top:0;
	left:0;
}

.Btn{
	cursor:pointer;
}

/*播放、暂停*/
#playBtn{
	font-size:25px;
	color:#ccc;
	padding:0 10px;
	cursor:pointer;
        position:absolute;
        left:5px;
        top:8px;
}

/*时间句柄*/
#showTime{
	width:200px;
	color:#ccc;
	cursor:default;
        position:absolute;
        top:9px;
        left:40px;
}

#showTime b{
	font-weight:100;
}

#volumeBox{
        width:20px;
        position:absolute;
        bottom:7px;
        right:160px;
}

#volumeBox:hover>#volumeBar{
        display:block;
}

#volumeMask{
        width:20px;
        height:115px;
        background:rgba(10,10,10,0.5);
        position:absolute;
        left:0;
        cursor:pointer;
        padding:5px 0;
        border-radius:50px;
}

#volume{
        width:2px;
        height:115px;
        display:inline-block;
        background:#39AEFF;
        position:absolute;
        left:9px;
        overflow:hidden;
}

#volume2{
        width:2px;
        height:0;
        background:#999;
        position:absolute;
}

/*音量*/
#OpenVolBtn{
	font-size:25px;
	color:#ccc;
	display:inline-block;
        position:absolute;
        bottom:0px;
}

#volumeBar{
        width:20px;
        height:135px;
        position:absolute;
        bottom:23px;
        overflow:hidden;
        display:none;
}

/*全屏*/
#FullScreen{
	font-size:25px;
	color:#ccc;
	position:absolute;
        right:125px;
        bottom:7px;
}

/*logo*/
#faceLogo{
	width:100px;
	height:16px;
	color:#ccc;
	position:absolute;
        right:11px;
        bottom:11px;
}

/*添加按钮*/
#addBtn{
        background:url("/htdocs/images/sign_add_btn.png") no-repeat scroll 100% center / 100% 100%;
        height:36px;
        position:absolute;
        width:36px;
        display:none;
        cursor:pointer;
}

#mask{
        width:100%;
        height:100%;
        background:rgba(10,10,10,0.5);
        position:absolute;
        top:0;
        left:0;
        display:none;
        z-index:99;
}

#panelBox{
        width:450px;
        height:450px;
        position:absolute;
        top:calc((100% - 450px) / 2);
        left:calc((100% - 450px) / 2);
        display:none;
        z-index:99;
}

.close{
        width:65px;
        height:25px;
        line-height:22px;
        background:#5871CF;
        position:absolute;
        text-align:center;
        top:0;
        right:calc((100% - 60px) / 2);
        border-radius:30px;
        font-size:16px;
        color:#fff;
        cursor:pointer;
}

.existing,.handadd{
        border-radius: 5px 5px 0 0;
        width:100%;
        height:40px;
        text-align:center;
        line-height:40px;
        position:absolute;
        top:40px;
        z-index:99;
        cursor:pointer;
        background:#eeeef0;
        color:#2F5ECB;
        display:none;
}

.selected{
        color:#2F5ECB;
        display:block;
}

.source{
        background: #698cff url("/htdocs/images/bj_sck.png") no-repeat scroll left 8px top 11px;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        height: 32px;
        line-height: 30px;
        padding-left: 15px;
        position: absolute;
        right: 33px;
        text-align: center;
        width: 60px;
        cursor:pointer;
}

#showBox{
        width:100%;
        height:350px;
        background:#fff;
        display:inline-block;
        border-radius:0 0 5px 5px;
        position:absolute;
        top:80px;
        left:0;
        text-align:center;
        overflow:hidden;
}

.big{
        color:red;
}

.playTable{
        width:100%;
        height:100%;
}

.playTable td{

}

.playTable td:nth-child(odd){
        width:18%;
        text-align:right;
        color:#678DFD;
}

.playTable td:nth-child(even){
        width:82%;
        text-align:left;
}

.borderStyle{
        border:1px solid #D3D2D8;
        border-radius:5px;
        outline:none;
        -webkit-user-select:text;
        -moz-user-select:text;
        -o-user-select:text;
        user-select:text;
}

.title{
        border-bottom-right-radius: 0;
        border-right: medium none;
        border-top-right-radius: 0;
        float: left;
        height: 30px;
        padding: 0 5px;
        width: 195px;
}

#productType{
        background: #698CFF;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        display: inline-block;
        float: left;
        height: 32px;
        overflow: hidden;
        position: absolute;
        z-index: 99;
        cursor:pointer;
        color:#fff;
        width:50px;
}

#productType:hover{
        border-bottom-left-radius: 5px;
}

#productType li{
        line-height:30px;
        text-align:center;
        width:100%;
        font-size:14px;
}

#productType li:hover{
        background:#2f5ecb;
}

.length{
        float: left;
        height: 30px;
        padding: 0 5px;
        width: 324px;
}

.elem{
        background:#fff;
        color: #678dfd;
        font-size: 14px;
        line-height: 30px;
        margin-top: 1px;
        position: absolute;
        right: 35px;
}

.url{
        height: 30px;
        padding: 0 5px;
        width: 324px;
}

.file{
        width:120px;
        height:120px;
        float:left;
        cursor:pointer;
}

#imgfile{
        display:none;
}

.desc{
        font-size: 14px;
        height: 110px;
        margin-left: 10px;
        padding: 5px;
        resize: none;
        vertical-align: top;
        width: 240px;
}

/*提交按钮*/
#submit,#cancel{
        background: #678dfd;
        border: medium none;
        bottom: 0;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        height: 45px;
        letter-spacing: 10px;
        position: absolute;
        right: 0;
        width: 100%;
}

#personAll{
        width:100%;
        height:305px;
        overflow: hidden;
        position:absolute;
}

.person{
        width:calc(100% - 35px);
        height:40px;
        display:block;
        text-align:left;
        border-left:3px solid #fff;
        padding-left:30px;
        cursor:pointer;
}

.person:nth-child(even){
        background:#F2F7FD;
}

.person:hover{
        border-left:3px solid #6487FB;
}

.person:hover .setBtn{
        display:block;
}

.person:hover .title{
        color:#6091F7;
}

.person:hover .okIcon{
        display:block;
}

.chekcLi{
        padding-left:5px;
}

.person .okIcon{
        float: right;
        height: 15px;
        margin-right: 15px;
        margin-top: 11px;
        width: 15px;
        display:none;
}

.person .pic{
        border:1px solid #E7E6EB;
        width:70px;
        height:70px;
        margin:8px;
        float:left;
}

.person .title{
        font-size: 14px;
        height: 25px;
        line-height: 23px;
        margin-top: 7px;
        outline: medium none;
        padding: 0;
        text-decoration: none;
        text-indent: 2px;
        width: calc(100% - 160px);
        color:#999;
        margin-left:10px;
}

.person .Pdesc{
        width:calc(100% - 120px);
        height:46px;
        display:block;
        float:left;
        overflow:hidden;
        font-size:12px;
        line-height:22px;
        color:#ACB1D5;
}

.person .setBtn{
        display:none;
        font-size:30px;
        height: 88px;
        line-height:88px;
        overflow:hidden;
        position:absolute;
        right:0;
        text-align:right;
        width:20px;
        background:#FF4561;
        padding-right:5px;
        font-size:20px;
        color:#fff;
}

.setBtn span{
        float: left;
        font-size: 20px;
        text-align: center;
        width: 140px;
}

.setBtn .setSec{
        float: left;
        font-size: 20px;
        height: 88px;
        line-height: 88px;
        text-align: center;
        width: 70px;
}

.setBtn .setSec:hover{
        background:#E62945;
}

.person .Ptype{
        width:40px;
        height:20px;
        float:left;
        text-align:center;
        font-size:12px;
        line-height:20px;
        background:#6091F7;
        border-radius:30px;
        margin-top:9px;
        color:#fff;
}

.ads{
        height: 30px;
        position: absolute;
}

.adsIcon{
        color: red;
        display: inline-block;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        text-indent: 7px;
        width: 30px;
        z-index: 9;
}

.adsTitle{
        background:rgba(10,10,10,0.5);
        color: #fff;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        position:absolute;
        margin-left:10px;
        border-radius:30px;
        display:none;
        outline:none;
        cursor:pointer;
}

.dotBox{
        width:5px;
        height:3px;
        background:#fff;
        position:absolute;
        top:0;
        cursor:pointer;
}

.dotBox span{
        width:auto;
        height:20px;
        font-size:14px;
        display:none;
        background:rgba(10,10,10,0.5);
        color:#fff;
        margin-top:-25px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        position:absolute;
        border-radius:5px;

}

.dotBox:hover span{
        display:block;
}